<% if(title) { %>
<h1>
    <%= title %>
</h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if(errors){%>
    <ul class="notice">
        <% errors.array().forEach(error=> {%>
            <li>
                <%= error.msg %>
            </li>
            <%})%>
    </ul>
<%}%>

<div id="accountForm">
    <form action="/account/login" method="POST">
        <label for="account_email"> Email *<input type="email" name="account_email" id="account_email" required></label>
        <label for="account_password"> Password *
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special
                character</span>
            <input type="password" name="account_password" id="account_password" required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <span id="pswdBtn">show password</span>
        </label>
        <input type="submit" value="Login">
    </form>
    <p>No account? <a href="/account/register">Sign-up</a></p>
</div>

<script>
    const pswdBtn = document.getElementById('pswdBtn');
    pswdBtn.addEventListener('click', () => {
        const password = document.getElementById('account_password');
        const type = password.getAttribute('type');
        if (type === 'password') {
            password.setAttribute('type', 'text');
            password.innerHTML = 'Hide password';
        } else {
            password.setAttribute('type', 'password');
            password.innerHTML = 'Show password';
        }
    });
</script>