/*************************************
 ******** MAIN STYLING *************
 *************************************/
main {
    padding: var(--small-size);
}

/* ===== form style ====== */
#loginForm{
    background-color: var(--primary-color);
    padding: 1rem;
    margin: var(--small-size) auto;
    width: 90%;
    max-width: 600px;
    border-radius: 0.4rem;
}

#loginForm label{
    display: block;
    color: #fff;
}

#loginForm input[type="text"],
#loginForm input[type="email"], 
#loginForm input[type="password"]{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    color: #000;
    font-size: 1rem;
    border-radius: 0.2rem;
}

#loginForm input[required] {
    border-left: 3px solid #ff0000;
}

#loginForm input:focus{
   outline: none;
}

#loginForm input:required:invalid,  #submittedForm input:focus{
    background-image: url(/images/site/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

#loginForm input:required:valid{
    background-image: url(/images/site/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

#loginForm input[type="submit"]{
    background-image: none !important;
    display: block;
    padding: 0.4rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    border: none;
    margin: 1rem auto;
}

#loginForm input[type="submit"]:hover{
    cursor: pointer;
}

#loginForm p{
    text-align: center;
}

#loginForm p, #loginForm p > a  {
    color: #fff;
}


label span{
    display: block;
    text-decoration: underline;
    font-size: 0.8rem;
}

span#pswdBtn:hover{
    cursor: pointer;
}