/*************************************
 ******** MAIN STYLING *************
 *************************************/
#inv-display {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--large-size);
    margin-top: var(--large-size);
}

#inv-display li{
    display: flex;
    flex-direction: column;
    gap: var(--small-size);
    border: 1px solid #eee;
    border-radius: 10px;
}

#inv-display li a{
    display: block;
    width: 100%;
}

#inv-display li a > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.namePrice {
    text-align: center;
    padding-bottom: var(--small-size);
}

.namePrice hr{
    border-top: 2px solid #000;
}

.namePrice h2 {
    padding-top: var(--small-size);
}

.namePrice h2, .namePrice span{
    font-size: 1rem;
}

/*************************************
 ******** FORM ADD CLASSIFICATION STYLING 
*************************************/
.container{
    border: 1px solid var(--accent-color2);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 600px;
    padding: var(--large-size);
    margin: var(--large-size) auto;
    box-shadow: 1px 1px 5px #bbb;
}

#add-classification-form label {
    display: block;
    margin-top: 1rem;
}

#add-classification-form input[type="text"]{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: var(--accent-color2);
}

#add-classification-form input[required] {
    border-left: 3px solid #ff0000;
}

#add-classification-form .pattern{
    list-style: square;
    font-size: 0.8rem;
    font-style: italic;
    margin-left: var(--small-size);
    font-weight: 700;
}

#add-classification-form input[type="submit"] {
    transition: background-color 0.5s ease;
}

#add-classification-form input[type="submit"]:hover{
    background-color: #000;
    color: #fff;
}