/*************************************
 ******** MAIN STYLING ***************
 *************************************/
 
 
/*************************************
******** FORM ADD CLASSIFICATION STYLING 
*************************************/
#inventoryForm {
    border: 1px solid var(--accent-color2);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 600px;
    padding: var(--small-size);
    margin: var(--small-size) auto;
    box-shadow: 1px 1px 5px #bbb;
}

#inventoryForm label {
    display: block;
    margin-top: 1rem;
}

#inventoryForm input[type="text"], 
#inventoryForm textarea, 
#inventoryForm select, 
#update-inventory-form select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: var(--accent-color2);
}

#inventoryForm input[required], #inventoryForm textarea {
    border-left: 3px solid #ff0000;
}

#inventoryForm .pattern {
    list-style: square;
    font-size: 0.8rem;
    font-style: italic;
    margin-left: var(--small-size);
    font-weight: 700;
}

#inventoryForm input[type="submit"] {
    transition: background-color 0.5s ease;
}

#inventoryForm input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}