/*************************************
 ******** MAIN STYLING *************
 *************************************/
main {
    padding: var(--small-size);
}

main h1{
    margin-bottom: 2rem;
}

.login{
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    border-radius: 0.4rem;
}

#loginForm label{
    display: block;
    color: #fff;
    margin-top: 1rem;
}

#loginForm input[type="email"], 
#loginForm input[type="password"]{
    display: block;
    color: #fff;
    width: 100%;
    padding: 0.5rem;
    border: none;
    color: #000;
    font-size: 1rem;
    border-radius: 0.2rem;
}

#loginForm input:focus{
   outline: none;
}

#loginForm input[type="submit"]{
    display: block;
    padding: 0.4rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    border: none;
    margin: 1rem auto;
}

.login p{
    text-align: center;
}

.login p, .login p > a  {
    color: #fff;
}