/* https://coolors.co/palette/286295-4c96d7-a6d5ff-eeeeee */
:root {
  --primary-color: #286295;
  --secondary-color: #4c96d7;
  --accent-color1: #a6d5ff;
  --accent-color2: #eeeeee;

  --small-size: 1rem;
  --medium-size: 1.5rem;
  --large-size: 2rem;
  --massive-size: 5rem;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

ul {
  list-style: none;
}

#messages{
  margin: 1rem 0px;
}

#messages ul{
  padding: 1rem;
}

#messages ul li{
  font-size: 1.2rem;
}

#messages ul.notice{
  background-color: #007bff;
}

#messages ul.error {
  background-color: #ff0000;
}

#messages ul li::before {
  font-size: 1.5rem;
}

#messages ul.notice li::before{
  content: '🛈';
}

#messages ul.error li::before {
  content: '🚫';
}



/*********************************
 *********** HEADER STYLING ******
 *********************************/
header {
  padding: var(--large-size) var(--small-size);
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

#top-header a {
  color: #000;
  text-decoration: none;
}

#top-header .siteName{
  font-size: 2rem;
}

/*************************************
 ******** NAVIGATION STYLING *********
 *************************************/
nav{
  background-color: #000;
  padding: var(--small-size);
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

nav ul li > a{
  color: #fff;
  text-decoration: none;
}

/*************************************
 ******** MAIN STYLING *************
 *************************************/
main {
  padding: var(--small-size);
}

/*====== header styling ===========*/
.header {
  position: relative;
  margin-bottom: var(--large-size);
}

.header picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header .overlay {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--primary-color);
  position: absolute;
  top: 50px;
}

.header .overlay img {
  width: 100px;
  height: auto;
}


@media screen and (min-width: 768px){
  body {
      background: url("/images/site/small_check.png") no-repeat center center / cover;
      padding: var(--small-size);
    }
  
    #wrapper {
      width: 60%;
      background-color: #fff;
      border: 5px solid var(--secondary-color);
      border-radius: 10px;
      margin: 0 auto;
    }
  
    /*************************************
     ******** MAIN STYLING *************
     *************************************/
    main {
      padding: var(--large-size); 
    }
}

/*************************************
 ******** FOOTER STYLING *********
 *************************************/
 footer{
  padding: var(--small-size);
 }